* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  box-shadow: 0px 0px 5px #777;
}
.left i {
  font-size: 50px;
  margin-left: 20px;
}
.right ul {
  display: flex;
}
.right ul li {
  list-style: none;
  margin-right: 50px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  position: relative;
}
.right ul li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: -24px;
  left: 50%;
  background-color: red;
  transform: translate(-50%);
  display: none;
}
.right ul li:hover::after {
  display: inline;
}

.right ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.bodx {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text p {
  margin-top: 10px;
  font-weight: bold;
  line-height: 30px;
  width: 500px;
}
.image {
  background-image: url(3762253-immeuble-a-plusieurs-etages-icone-lineaire-appartement-maison-illustration-ligne-mince-tour-bloc-contour-symbole-vector-isole-dessin-contour-vectoriel.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
}
.General {
  padding: 30px;
  background-color: white;
  width: 100%;
  margin: 50px auto;
  position: relative;
}
.General::after {
  content: "";
  left: -15px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.257);
  height: 100%;
  width: 1px;
}
.General h2 {
  margin-bottom: 5px;
}
.General p:first-of-type {
  color: rgba(0, 0, 0, 0.503);
  font-weight: bold;
  margin-bottom: 10px;
}
.General p:nth-of-type(2),
.General p:nth-of-type(3),
.General p:nth-of-type(4) {
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 25px;
}
.General input {
  padding-left: 15px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid black;
}

#sub {
  margin: 10px auto;
  padding: 10px;
  background-color: darkcyan;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  padding-right: 11px;
}
#sub:hover {
  background-color: darkblue;
}
.flex {
  display: flex;
}
.inpt {
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.before {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  padding: 30px;
  background-color: hsl(238, 22%, 44%);

  color: #fff;
  height: 260px;
  margin-top: 30px;
}
.bfleft {
  width: 700px;
}

.bfleft h2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.bfright {
  padding: 0px;
  border-radius: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 20px;
  margin-top: 0px auto;
  margin-top: 20px;
}
.bfright input {
  margin: 10px;
  outline: none;
  border: none;
  padding: 10px;
}
.bfright input:first-of-type,
.bfright input:nth-child(2),
.bfright input:nth-child(3) {
  width: 350px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.105);
  border-radius: 50px;
}
.bfright input:last-of-type {
  width: 200px;
  color: white;
  background-color: hsl(224, 93%, 10%);
  border-radius: 50px;
}
.bfright input:last-of-type:hover {
  background-color: hsl(224, 93%, 50%);
}

.footer {
  padding: 20px;
  height: 300px;
  background-color: hsl(243, 87%, 12%);

  margin-top: 0px;
  position: relative;
  color: white;
}
.footx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 60px;
  margin-left: 20px;
}
.footy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: -300px;
  margin-left: 50px;
}
.footy i {
  margin: 15px;
  font-size: 25px;
}

.foot1 {
  text-align: center;
}
.foot1 h1 {
  font-size: 70px;
  margin: 0;
  padding: 0;
}
.foot1 P {
  font-size: 15px;
  margin: 30px;
}
.foot2 h1 {
  font-size: 35px;
  margin-bottom: 10px;
  padding: 0;
}

.foot2 P {
  font-size: 15px;
  margin: 28px;
}
.foot2 P i {
  margin-right: 10px;
}
.foot2 P:last-of-type a {
  color: red;
  text-decoration: none;
}
